.inline { float: left }

#logs_container {
  width: 800px;
  padding: 10px;
  border: 1px solid gray;
  box-shadow: 1px 2px;
  font-family: "Courier New", Courier, monospace;

  .log-container {
    .timestamp-separator {
      @extend .inline;
      border-left: 2px solid black;
      height: 18px;
      margin: 0px 5px 0px 5px;
    }
    .user-separator {
      @extend .inline;
      margin-right: 5px;
      font-weight: bold;
    }
  }
}
